openapi: 3.0.0
info:
  title: Fuse
  version: 1.0.4
servers:
- description: sandbox
  url: https://sandbox-api.letsfuse.com
security:
- fuseApiKey: []
- fuseClientId: []
tags:
- name: Fuse
paths:
  /v1/financial_connections/accounts/details:
    post:
      operationId: getFinancialConnectionsAccountDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsAccountDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsAccountDetailsResponse'
          description: Success
      summary: Get account details
      tags:
      - Fuse
    summary: Get account details
  /v1/financial_connections/owners:
    post:
      operationId: getFinancialConnectionsOwners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsOwnersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsOwnersResponse'
          description: Success
      summary: Get account owners
      tags:
      - Fuse
  /v1/financial_connections/accounts:
    post:
      operationId: getFinancialConnectionsAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsAccountsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsAccountsResponse'
          description: Successful response
      summary: Get accounts
      tags:
      - Fuse
  /v1/asset_report/create:
    post:
      description: Use this endpoint to generate an Asset Report for a user.
      operationId: createAssetReport
      requestBody:
        content:
          application/json:
            examples:
              "0":
                value: "{\n\t\"access_token\": \"3e0cc775-3588-460d-863a-a4baee8ac7c5\"\
                  ,\n\t\"days_requested\": 90,\n}"
            schema:
              $ref: '#/components/schemas/CreateAssetReportRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                "0":
                  value: "{\"asset_report_token\":\"fuse_ar_dev_1MV8sa\",\"asset_report_id\"\
                    :\"3256bf0f-6881-4ff4-9f27-54c396572320\"}"
              schema:
                $ref: '#/components/schemas/CreateAssetReportResponse'
          description: Response
      tags:
      - Fuse
    summary: Create an Asset Report
  /v1/asset_report/refresh:
    post:
      description: Refreshes the Asset Report in JSON format.
      operationId: refreshAssetReport
      requestBody:
        content:
          application/json:
            examples:
              "0":
                value: "{\n\t\"asset_report_token\": \"fuse_ar_dev_1MV8sa\"\n}"
            schema:
              $ref: '#/components/schemas/RefreshAssetReportRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                "0":
                  value: "{\"asset_report_token\":\"fuse_ar_dev_1MV8sa\",\"asset_report_id\"\
                    :\"3256bf0f-6881-4ff4-9f27-54c396572320\"}"
              schema:
                $ref: '#/components/schemas/CreateAssetReportResponse'
          description: Response
      tags:
      - Fuse
    summary: Refresh Asset Report
  /v1/asset_report:
    post:
      description: Retrieves the Asset Report in JSON format.
      operationId: getAssetReport
      requestBody:
        content:
          application/json:
            examples:
              "0":
                value: "{\n\t\"asset_report_token\": \"fuse_ar_dev_1MV8sa\"\n}"
            schema:
              $ref: '#/components/schemas/GetAssetReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetReportResponse'
          description: Response
      tags:
      - Fuse
    summary: Get an asset report
  /v1/financial_connections/balances:
    post:
      operationId: getFinancialConnectionsBalances
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsBalanceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsBalanceResponse'
          description: Successful response
      summary: Get balances
      tags:
      - Fuse
  /v1/entities/{entity_id}:
    get:
      description: An entity is automatically created after a successful connection.
        The id of the entity is what is set when calling the 'create session' endpoint
      operationId: getEntity
      parameters:
      - explode: false
        in: path
        name: entity_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntityResponse'
          description: Success
      summary: Get entity
      tags:
      - Fuse
    summary: Get entity
  /v1/financial_connections/public_token/exchange:
    post:
      description: API to exchange a public token for an access token and financial
        connection id
      operationId: exchangeFinancialConnectionsPublicToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeFinancialConnectionsPublicTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeFinancialConnectionsPublicTokenResponse'
          description: Response
      tags:
      - Fuse
    summary: Exchange public token
  /v1/financial_connections/sync:
    post:
      description: Call this endpoint upon receiving a financial_connection.sync_data
        webhook. This will keep the financial connections data up to date.
      operationId: syncFinancialConnectionsData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncFinancialConnectionsDataRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncFinancialConnectionsDataResponse'
          description: Successfully synchronized transactions
      summary: Sync financial connections data
      tags:
      - Fuse
  /v1/financial_connections/institutions/{institution_id}:
    get:
      description: Receive metadata for a financial institution
      operationId: getFinancialInstitution
      parameters:
      - explode: false
        in: path
        name: institution_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialInstitutionResponse'
          description: Financial institution metadata
      summary: Get a financial institution
      tags:
      - Fuse
  /v1/financial_connections/{financial_connection_id_to_delete}:
    delete:
      operationId: deleteFinancialConnection
      parameters:
      - explode: false
        in: path
        name: financial_connection_id_to_delete
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFinancialConnectionResponse'
          description: Success
      summary: Delete a financial connection
      tags:
      - Fuse
    summary: Delete a financial connection
  /v1/financial_connections/{financial_connection_id}:
    get:
      operationId: getFinancialConnection
      parameters:
      - explode: false
        in: path
        name: financial_connection_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionResponse'
          description: Success
      summary: Get financial connection details
      tags:
      - Fuse
    summary: Get financial connection details
  /v1/financial_connections/migrate:
    post:
      description: "This endpoint migrates financial connections from Plaid or MX\
        \ into the unified Fuse API. It accepts a POST request with connection data,\
        \ aggregator, entity, and Fuse products, and responds with a JSON payload\
        \ containing the migrated connection's data, access token, ID, and request\
        \ ID."
      operationId: migrateFinancialConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateFinancialConnectionsTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateFinancialConnectionsTokenResponse'
          description: Success
      summary: Migrate financial connection
      tags:
      - Fuse
    summary: Migrate financial connection
  /v1/financial_connections/investments/holdings:
    post:
      operationId: getInvestmentHoldings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInvestmentHoldingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvestmentHoldingsResponse'
          description: Successful response
      summary: Get investment holdings
      tags:
      - Fuse
  /v1/financial_connections/investments/transactions:
    post:
      operationId: getInvestmentTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInvestmentTransactionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvestmentTransactionsResponse'
          description: Successful response
      summary: Get investment transactions
      tags:
      - Fuse
  /v1/financial_connections/liabilities:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLiabilitiesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiabilitiesResponse'
          description: Successful response
      summary: Get liabilities
      tags:
      - Fuse
  /v1/link/token:
    post:
      description: Create a link token to start the process of a user connecting to
        a specific financial institution.
      operationId: createLinkToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLinkTokenResponse'
          description: Response
      tags:
      - Fuse
    summary: Create link token
  /v1/session:
    post:
      description: Creates a session that returns a client_secret which is required
        as a parameter when initializing the Fuse SDK.
      operationId: createSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
          description: Response
      tags:
      - Fuse
    summary: Create session
  /v1/financial_connections/transactions:
    post:
      operationId: getFinancialConnectionsTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsTransactionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsTransactionsResponse'
          description: Success
      summary: Get transactions
      tags:
      - Fuse
    summary: Get transactions
components:
  schemas:
    FinancialConnectionsAccount:
      example:
        institution:
          name: name
        balance:
          current: 6.027456183070403
          available: 0.8008281904610115
          iso_currency_code: iso_currency_code
          last_updated_date: last_updated_date
        subtype: null
        remote_id: remote_id
        fingerprint: fingerprint
        name: name
        type: null
        mask: mask
      properties:
        remote_id:
          description: "Remote Id of the account, ie Plaid or Teller account id"
          title: remote_id
          type: string
        fingerprint:
          description: "Uniquely identifies this account across all accounts associated\
            \ with your organization. See more information here: https://letsfuse.readme.io/docs/duplicate-accounts"
          title: fingerprint
          type: string
        institution:
          $ref: '#/components/schemas/FinancialConnectionsAccount_institution'
        mask:
          description: The partial account number.
          title: mask
          type: string
        name:
          description: "The account's name, ie 'My Checking'"
          title: name
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
        subtype:
          $ref: '#/components/schemas/AccountSubtype'
        balance:
          $ref: '#/components/schemas/FinancialConnectionsAccountCachedBalance'
      required:
      - balance
      - fingerprint
      - name
      - remote_id
      - type
      title: FinancialConnectionsAccount
      type: object
    FinancialConnectionsAccountCachedBalance:
      example:
        current: 6.027456183070403
        available: 0.8008281904610115
        iso_currency_code: iso_currency_code
        last_updated_date: last_updated_date
      properties:
        available:
          description: |-
            The amount of funds available to be withdrawn from the account, as determined by the financial institution
            Available balance may be cached and is not guaranteed to be up-to-date in realtime unless the value was returned by /financial_connections/balances.
          title: available
          type: number
        current:
          description: Amount without factoring in pending balances
          title: current
          type: number
        iso_currency_code:
          description: The ISO-4217 currency code of the balance.
          title: iso_currency_code
          type: string
        last_updated_date:
          description: The date of the last update to the balance.
          title: last_updated_date
          type: string
      title: FinancialConnectionsAccountCachedBalance
      type: object
    FinancialConnectionsAccountBalance:
      example:
        current: 6.027456183070403
        available: 0.8008281904610115
        iso_currency_code: iso_currency_code
        last_updated_date: last_updated_date
        remote_account_id: remote_account_id
      properties:
        remote_account_id:
          description: "Remote Account Id of the transaction, ie Plaid Account Id"
          title: remote_account_id
          type: string
        available:
          description: Amount in cents after factoring in pending balances
          title: available
          type: number
        current:
          description: Amount in cents without factoring in pending balances
          title: current
          type: number
        iso_currency_code:
          description: The ISO-4217 currency code of the balance.
          title: iso_currency_code
          type: string
        last_updated_date:
          description: "The last time the account balance was updated, represented\
            \ as an ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ssZ). This value may not\
            \ be available for some accounts."
          title: last_updated_date
          type: string
      required:
      - remote_account_id
      title: FinancialConnectionsAccountBalance
      type: object
    FinancialConnectionsOwner:
      example:
        emails:
        - data: data
          type: primary
          primary: true
        - data: data
          type: primary
          primary: true
        phone_numbers:
        - data: data
          type: home
          primary: true
        - data: data
          type: home
          primary: true
        addresses:
        - data:
            country: country
            city: city
            street: street
            postal_code: postal_code
            region: region
          primary: true
        - data:
            country: country
            city: city
            street: street
            postal_code: postal_code
            region: region
          primary: true
        names:
        - data: data
          type: type
        - data: data
          type: type
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_addresses_inner'
          title: addresses
          type: array
        emails:
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_emails_inner'
          title: emails
          type: array
        names:
          description: List of names associated with the owner
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_names_inner'
          title: names
          type: array
        phone_numbers:
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_phone_numbers_inner'
          title: phone_numbers
          type: array
      required:
      - addresses
      - emails
      - names
      - phone_numbers
      title: FinancialConnectionsOwner
      type: object
    FuseApiError:
      properties:
        title:
          title: title
          type: string
        details:
          title: details
          type: string
        code:
          enum:
          - client_error
          - invalid_headers
          - invalid_request_body
          - internal_server_error
          - organization_not_found
          - entity_not_found
          - session_not_found
          - financial_institution_not_found
          - missing_access_token
          - missing_plaid_client_id_header
          - missing_plaid_secret_header
          - missing_mx_client_id_header
          - missing_mx_api_key_header
          - missing_teller_private_key_header
          - missing_teller_certificate_header
          - missing_teller_application_id_header
          - aggregator_error
          - aggregator_disconnected_error
          - aggregator_connection_finished_error
          - request_body_missing
          title: code
          type: string
        type:
          enum:
          - auth_error
          - not_found
          - bad_request
          - server_error
          title: type
          type: string
        source:
          enum:
          - internal
          - aggregator
          title: source
          type: string
        data:
          $ref: '#/components/schemas/FuseApiError_data'
      title: FuseApiError
      type: object
    FuseApiWarning:
      example:
        code: code
        data:
          aggregator: null
          warnings:
          - code: code
            details: details
            source: internal
            title: title
            type: type
          - code: code
            details: details
            source: internal
            title: title
            type: type
        details: details
        source: internal
        title: title
        type: type
      properties:
        title:
          title: title
          type: string
        details:
          title: details
          type: string
        code:
          title: code
          type: string
        type:
          title: type
          type: string
        source:
          enum:
          - internal
          - aggregator
          title: source
          type: string
        data:
          $ref: '#/components/schemas/FuseApiWarning_data'
      title: FuseApiWarning
      type: object
    Product:
      enum:
      - account_details
      - balance
      - ownership
      - transactions
      - investments
      - asset_report
      title: Product
      type: string
    CountryCode:
      enum:
      - US
      - CA
      title: CountryCode
      type: string
    Aggregator:
      enum:
      - plaid
      - teller
      - mx
      - snaptrade
      title: Aggregator
      type: string
    WebhookSource:
      enum:
      - plaid
      - teller
      - mx
      - fuse
      - snaptrade
      title: WebhookSource
      type: string
    WebhookType:
      enum:
      - financial_connection.sync_data
      - financial_connection.disconnected
      - financial_connection.finished
      - transaction.updates
      title: WebhookType
      type: string
    WebhookEvent:
      properties:
        type:
          $ref: '#/components/schemas/WebhookType'
        financial_connection_id:
          description: Financial connection id associated with the webhook
          type: string
        environment:
          enum:
          - sandbox
          - production
          type: string
        source:
          $ref: '#/components/schemas/WebhookSource'
        verification_token:
          description: Aggregator verification data needed to verify the webhook
          type: string
        remote_data: {}
      required:
      - environment
      - financial_connection_id
      - remote_data
      - source
      - type
      type: object
    AccountType:
      description: The account's type
      enum:
      - depository
      - credit
      - loan
      - investment
      - insurance
      - property
      - other
      title: AccountType
      type: string
    AccountSubtype:
      description: The account's subtype
      enum:
      - checking
      - savings
      - money_market
      - certificate_of_deposit
      - treasury
      - credit_card
      - hsa
      - paypal
      - prepaid
      - cash_management
      - ebt
      - auto
      - business
      - commercial
      - construction
      - consumer
      - home_equity
      - loan
      - mortgage
      - overdraft
      - line_of_credit
      - student
      - "529"
      - 401_a
      - 401_k
      - 403_b
      - 457_b
      - brokerage
      - cash_isa
      - crypto_exchange
      - education_saving_account
      - fixed_annuity
      - gic
      - health_reimbursement_arrangement
      - ira
      - isa
      - keogh
      - lif
      - life_insurance
      - lira
      - lrif
      - lrsp
      - mutual_fund
      - non_custodial_wallet
      - non_taxable_brokerage_account
      - other_annuity
      - other_insurance
      - pension
      - prif
      - profit_sharing_plan
      - qshr
      - rdsp
      - resp
      - retirement
      - rlif
      - roth_ira
      - roth_401_k
      - rrif
      - rrsp
      - sarsep
      - sep_ira
      - simple_ira
      - sipp
      - stock_plan
      - tfsa
      - trust
      - ugma
      - utma
      - variable_annuity
      - small_business
      - personal
      - personal_with_collateral
      - "457"
      - rollover_ira
      - taxable
      - non_taxable
      - employee_stock_ownership_plan
      - individual
      - cash_management_account
      - employee_stock_purchase_plan
      - registered_education_savings_plan
      - fixed_annuity_traditional_ira
      - inherited_traditional_ira
      - fixed_annuity_roth_ira
      - variable_annuity_roth_ira
      - inherited_roth_ira
      - advisory_account
      - brokerage_margin
      - charitable_gift_account
      - church_account
      - conservatorship
      - custodial
      - defined_benefit_plan
      - defined_contribution_plan
      - educational
      - estate
      - executor
      - group_retirement_savings_plan
      - guaranteed_investment_certificate
      - indexed_annuity
      - investment_club
      - irrevocable_trust
      - joint_tenants_by_entirety
      - joint_tenants_community_property
      - joint_tenants_in_common
      - joint_tenants_with_rights_of_survivorship
      - keough_plan
      - living_trust
      - locked_in_retirement_account
      - locked_in_retirement_investment_fund
      - locked_in_retirement_savings_account
      - money_purchase_plan
      - partnership
      - 409_a
      - rpp
      - revocable_trust
      - roth_conversion
      - sole_proprietorship
      - spousal_ira
      - spousal_roth_ira
      - testamentary_trust
      - thrift_savings_plan
      - inherited_annuity
      - corporate_account
      - limited_liability_account
      - boat
      - powersports
      - rv
      - heloc
      - vehicle_insurance
      - disability
      - health
      - long_term_care
      - property_and_casualty
      - universal_life
      - term_life
      - whole_life
      - accidental_death_and_dismemberment
      - variable_universal_life
      - other
      title: AccountSubtype
      type: string
    Entity:
      example:
        name: name
        id: id
        email: email
      properties:
        id:
          description: Unique identifier for the user or business account.
          title: id
          type: string
        name:
          description: Name for the user or business account.
          title: name
          type: string
        email:
          description: Email address associated with the user or business account.
          title: email
          type: string
      required:
      - id
      title: Entity
      type: object
    FinancialConnectionData:
      example:
        id: id
        institution_id: institution_id
      properties:
        id:
          description: The financial connection id.
          title: id
          type: string
        institution_id:
          description: The Fuse Institution ID associated with the financial connection
          title: institution_id
          type: string
      required:
      - id
      - institution_id
      title: FinancialConnectionData
      type: object
    FinancialConnectionDetails:
      example:
        connection_status: connected
        aggregator: null
        teller:
          access_token: access_token
          enrollment_id: enrollment_id
        id: id
        mx:
          member_guid: member_guid
          user_guid: user_guid
        connection_status_updated_at: connection_status_updated_at
        is_oauth: true
        plaid:
          access_token: access_token
          item_id: item_id
      properties:
        id:
          description: The fuse financial connection id.
          title: id
          type: string
        connection_status:
          description: Connection status of the current financial connection
          enum:
          - connected
          - disconnected
          - finished
          title: connection_status
          type: string
        connection_status_updated_at:
          description: Last time the connection status was updated in ISO-8601 format.
          title: connection_status_updated_at
          type: string
        is_oauth:
          description: Whether this is an oauth connection
          title: is_oauth
          type: boolean
        aggregator:
          $ref: '#/components/schemas/Aggregator'
        plaid:
          $ref: '#/components/schemas/FinancialConnectionDetails_plaid'
        teller:
          $ref: '#/components/schemas/FinancialConnectionDetails_teller'
        mx:
          $ref: '#/components/schemas/FinancialConnectionDetails_mx'
      required:
      - aggregator
      - connection_status
      - connection_status_updated_at
      - id
      - is_oauth
      title: FinancialConnectionDetails
      type: object
    FinancialInstitution:
      example:
        website: website
        name: name
        logo:
          image: image
          format: png
          type: base64
        country_codes:
        - null
        - null
        id: id
      properties:
        id:
          description: Unique identifier for the financial institution id.
          title: id
          type: string
        name:
          description: Name for the financial institution.
          title: name
          type: string
        logo:
          $ref: '#/components/schemas/FinancialInstitution_logo'
        website:
          description: Website of the financial institution.
          title: website
          type: string
        country_codes:
          description: List of country codes supported by this institution
          items:
            $ref: '#/components/schemas/CountryCode'
          title: country_codes
          type: array
      required:
      - country_codes
      - id
      - name
      title: FinancialInstitution
      type: object
    Transaction:
      example:
        date: date
        amount: 0.8008281904610115
        remote_id: remote_id
        iso_currency_code: iso_currency_code
        description: description
        merchant:
          name: name
        category:
        - category
        - category
        type: type
        remote_account_id: remote_account_id
        status: pending
        remote_data: ""
      properties:
        remote_id:
          description: "Remote Id of the transaction, ie Plaid or Teller Id"
          title: remote_id
          type: string
        remote_account_id:
          description: "Remote Account Id of the transaction, ie Plaid Account Id"
          title: remote_account_id
          type: string
        amount:
          description: Amount in cents associated with the transaction
          title: amount
          type: number
        date:
          description: Date of the transaction (YYYY-MM-DD)
          title: date
          type: string
        description:
          description: Description of the transaction
          title: description
          type: string
        category:
          description: "Categories of the transaction, ie Computers and Electronics"
          items:
            type: string
          title: category
          type: array
        merchant:
          $ref: '#/components/schemas/Transaction_merchant'
        status:
          description: The status of the transaction. This will be either posted or
            pending.
          enum:
          - pending
          - posted
          title: status
          type: string
        type:
          description: "Type of the transaction, ie adjustment"
          title: type
          type: string
        iso_currency_code:
          description: The ISO-4217 currency code of the transaction
          title: iso_currency_code
          type: string
        remote_data:
          title: remote_data
      required:
      - amount
      - category
      - date
      - description
      - merchant
      - remote_account_id
      - remote_data
      - remote_id
      - status
      - type
      title: Transaction
      type: object
    Currency:
      example:
        code: code
        name: name
      properties:
        code:
          description: The ISO-4217 currency code
          title: code
          type: string
        name:
          description: The name of the currency
          title: name
          type: string
      required:
      - code
      title: Currency
      type: object
    GetFinancialConnectionsAccountDetailsRequest:
      example:
        access_token: access_token
      properties:
        access_token:
          description: Access token for authentication
          title: access_token
          type: string
      required:
      - access_token
      title: GetFinancialConnectionsAccountDetailsRequest
      type: object
    FinancialConnectionsAccountDetails:
      example:
        remote_id: remote_id
        ach:
          wire_routing: wire_routing
          routing: routing
          bacs_routing: bacs_routing
          account: account
      properties:
        remote_id:
          description: "Remote Id of the account, ie Plaid or Teller account id"
          title: remote_id
          type: string
        ach:
          $ref: '#/components/schemas/FinancialConnectionsAccountDetails_ach'
      required:
      - ach
      - remote_id
      title: FinancialConnectionsAccountDetails
      type: object
    GetFinancialConnectionsAccountDetailsResponse:
      example:
        financial_connection:
          id: id
          institution_id: institution_id
        account_details:
        - remote_id: remote_id
          ach:
            wire_routing: wire_routing
            routing: routing
            bacs_routing: bacs_routing
            account: account
        - remote_id: remote_id
          ach:
            wire_routing: wire_routing
            routing: routing
            bacs_routing: bacs_routing
            account: account
        request_id: request_id
      properties:
        account_details:
          items:
            $ref: '#/components/schemas/FinancialConnectionsAccountDetails'
          title: account_details
          type: array
        financial_connection:
          $ref: '#/components/schemas/FinancialConnectionData'
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - account_details
      - financial_connection
      - request_id
      title: GetFinancialConnectionsAccountDetailsResponse
      type: object
    GetFinancialConnectionsOwnersRequest:
      example:
        access_token: access_token
      properties:
        access_token:
          description: Access token for authentication
          title: access_token
          type: string
      required:
      - access_token
      title: GetFinancialConnectionsOwnersRequest
      type: object
    GetFinancialConnectionsOwnersResponse:
      example:
        accounts:
        - owners:
          - emails:
            - data: data
              type: primary
              primary: true
            - data: data
              type: primary
              primary: true
            phone_numbers:
            - data: data
              type: home
              primary: true
            - data: data
              type: home
              primary: true
            addresses:
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            names:
            - data: data
              type: type
            - data: data
              type: type
          - emails:
            - data: data
              type: primary
              primary: true
            - data: data
              type: primary
              primary: true
            phone_numbers:
            - data: data
              type: home
              primary: true
            - data: data
              type: home
              primary: true
            addresses:
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            names:
            - data: data
              type: type
            - data: data
              type: type
          request_id: request_id
          remote_account_id: remote_account_id
        - owners:
          - emails:
            - data: data
              type: primary
              primary: true
            - data: data
              type: primary
              primary: true
            phone_numbers:
            - data: data
              type: home
              primary: true
            - data: data
              type: home
              primary: true
            addresses:
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            names:
            - data: data
              type: type
            - data: data
              type: type
          - emails:
            - data: data
              type: primary
              primary: true
            - data: data
              type: primary
              primary: true
            phone_numbers:
            - data: data
              type: home
              primary: true
            - data: data
              type: home
              primary: true
            addresses:
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            - data:
                country: country
                city: city
                street: street
                postal_code: postal_code
                region: region
              primary: true
            names:
            - data: data
              type: type
            - data: data
              type: type
          request_id: request_id
          remote_account_id: remote_account_id
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/GetFinancialConnectionsOwnersResponse_accounts_inner'
          title: accounts
          type: array
      required:
      - accounts
      title: GetFinancialConnectionsOwnersResponse
      type: object
    GetFinancialConnectionsAccountsRequest:
      example:
        access_token: access_token
      properties:
        access_token:
          description: Access token for authentication
          title: access_token
          type: string
      required:
      - access_token
      title: GetFinancialConnectionsAccountsRequest
      type: object
    GetFinancialConnectionsAccountsResponse:
      example:
        financial_connection:
          id: id
          institution_id: institution_id
        accounts:
        - institution:
            name: name
          balance:
            current: 6.027456183070403
            available: 0.8008281904610115
            iso_currency_code: iso_currency_code
            last_updated_date: last_updated_date
          subtype: null
          remote_id: remote_id
          fingerprint: fingerprint
          name: name
          type: null
          mask: mask
        - institution:
            name: name
          balance:
            current: 6.027456183070403
            available: 0.8008281904610115
            iso_currency_code: iso_currency_code
            last_updated_date: last_updated_date
          subtype: null
          remote_id: remote_id
          fingerprint: fingerprint
          name: name
          type: null
          mask: mask
        request_id: request_id
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/FinancialConnectionsAccount'
          title: accounts
          type: array
        financial_connection:
          $ref: '#/components/schemas/FinancialConnectionData'
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - accounts
      - financial_connection
      - request_id
      title: GetFinancialConnectionsAccountsResponse
      type: object
    CreateAssetReportRequest:
      example:
        access_token: access_token
        include_identity: true
        days_requested: 30.15014613278082
      properties:
        access_token:
          description: Access token for the entity to create report for.
          title: access_token
          type: string
        days_requested:
          description: The maximum integer number of days of history to include in
            the Asset Report
          maximum: 365
          minimum: 1
          title: days_requested
          type: number
        include_identity:
          default: true
          description: Indicates whether to include identity data in the Asset Report
          title: include_identity
          type: boolean
      required:
      - access_token
      - days_requested
      title: CreateAssetReportRequest
      type: object
    RefreshAssetReportRequest:
      example:
        access_token: access_token
        include_identity: true
        days_requested: 30.15014613278082
      properties:
        access_token:
          description: The asset_report_token returned by the original call to /asset_report/create
          title: access_token
          type: string
        days_requested:
          description: The maximum integer number of days of history to include in
            the Asset Report
          maximum: 365
          minimum: 1
          title: days_requested
          type: number
        include_identity:
          default: true
          description: Indicates whether to include identity data in the Asset Report
          title: include_identity
          type: boolean
      required:
      - assert_report_token
      - days_requested
      title: RefreshAssetReportRequest
      type: object
    CreateAssetReportResponse:
      example:
        asset_report_token: asset_report_token
        request_id: request_id
        asset_report_id: asset_report_id
      properties:
        asset_report_token:
          description: A token that can be provided to endpoints such as /asset_report
            or /asset_report/pdf to fetch an Asset Report.
          title: asset_report_token
          type: string
        asset_report_id:
          description: 'A unique ID identifying an Asset Report. '
          title: asset_report_id
          type: string
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      title: CreateAssetReportResponse
      type: object
    GetAssetReportRequest:
      example:
        asset_report_token: asset_report_token
      properties:
        asset_report_token:
          description: The token associated with the Asset Report to retrieve.
          title: asset_report_token
          type: string
      required:
      - asset_report_token
      title: GetAssetReportRequest
      type: object
    GetAssetReportResponse:
      example:
        report:
          date_generated: date_generated
          warnings:
          - code: code
            data:
              aggregator: null
              warnings:
              - code: code
                details: details
                source: internal
                title: title
                type: type
              - code: code
                details: details
                source: internal
                title: title
                type: type
            details: details
            source: internal
            title: title
            type: type
          - code: code
            data:
              aggregator: null
              warnings:
              - code: code
                details: details
                source: internal
                title: title
                type: type
              - code: code
                details: details
                source: internal
                title: title
                type: type
            details: details
            source: internal
            title: title
            type: type
          client_report_id: client_report_id
          accounts:
          - balances:
              current: 1.4658129805029452
              available: 6.027456183070403
              iso_currency_code: iso_currency_code
            historical_balances:
            - date: date
              current: 5.962133916683182
              iso_currency_code: iso_currency_code
            - date: date
              current: 5.962133916683182
              iso_currency_code: iso_currency_code
            owners:
            - emails:
              - data: data
                type: primary
                primary: true
              - data: data
                type: primary
                primary: true
              phone_numbers:
              - data: data
                type: home
                primary: true
              - data: data
                type: home
                primary: true
              addresses:
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              names:
              - data: data
                type: type
              - data: data
                type: type
            - emails:
              - data: data
                type: primary
                primary: true
              - data: data
                type: primary
                primary: true
              phone_numbers:
              - data: data
                type: home
                primary: true
              - data: data
                type: home
                primary: true
              addresses:
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              names:
              - data: data
                type: type
              - data: data
                type: type
            remote_account_id: remote_account_id
          - balances:
              current: 1.4658129805029452
              available: 6.027456183070403
              iso_currency_code: iso_currency_code
            historical_balances:
            - date: date
              current: 5.962133916683182
              iso_currency_code: iso_currency_code
            - date: date
              current: 5.962133916683182
              iso_currency_code: iso_currency_code
            owners:
            - emails:
              - data: data
                type: primary
                primary: true
              - data: data
                type: primary
                primary: true
              phone_numbers:
              - data: data
                type: home
                primary: true
              - data: data
                type: home
                primary: true
              addresses:
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              names:
              - data: data
                type: type
              - data: data
                type: type
            - emails:
              - data: data
                type: primary
                primary: true
              - data: data
                type: primary
                primary: true
              phone_numbers:
              - data: data
                type: home
                primary: true
              - data: data
                type: home
                primary: true
              addresses:
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              - data:
                  country: country
                  city: city
                  street: street
                  postal_code: postal_code
                  region: region
                primary: true
              names:
              - data: data
                type: type
              - data: data
                type: type
            remote_account_id: remote_account_id
          asset_report_id: asset_report_id
          days_requested: 0
        request_id: request_id
      properties:
        report:
          $ref: '#/components/schemas/GetAssetReportResponse_report'
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      title: GetAssetReportResponse
      type: object
    GetFinancialConnectionsBalanceRequest:
      example:
        access_token: access_token
        options:
          remote_account_ids:
          - remote_account_ids
          - remote_account_ids
      properties:
        access_token:
          description: Access token for authentication
          title: access_token
          type: string
        options:
          $ref: '#/components/schemas/GetFinancialConnectionsBalanceRequest_options'
      required:
      - access_token
      title: GetFinancialConnectionsBalanceRequest
      type: object
    GetFinancialConnectionsBalanceResponse:
      example:
        balances:
        - current: 6.027456183070403
          available: 0.8008281904610115
          iso_currency_code: iso_currency_code
          last_updated_date: last_updated_date
          remote_account_id: remote_account_id
        - current: 6.027456183070403
          available: 0.8008281904610115
          iso_currency_code: iso_currency_code
          last_updated_date: last_updated_date
          remote_account_id: remote_account_id
        request_id: request_id
      properties:
        balances:
          items:
            $ref: '#/components/schemas/FinancialConnectionsAccountBalance'
          title: balances
          type: array
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - balances
      - request_id
      title: GetFinancialConnectionsBalanceResponse
      type: object
    GetEntityResponse:
      example:
        aggregators:
        - null
        - null
        financial_connections:
        - connection_status: connected
          aggregator: null
          teller:
            access_token: access_token
            enrollment_id: enrollment_id
          id: id
          mx:
            member_guid: member_guid
            user_guid: user_guid
          connection_status_updated_at: connection_status_updated_at
          is_oauth: true
          plaid:
            access_token: access_token
            item_id: item_id
        - connection_status: connected
          aggregator: null
          teller:
            access_token: access_token
            enrollment_id: enrollment_id
          id: id
          mx:
            member_guid: member_guid
            user_guid: user_guid
          connection_status_updated_at: connection_status_updated_at
          is_oauth: true
          plaid:
            access_token: access_token
            item_id: item_id
        id: id
        institution_ids:
        - institution_ids
        - institution_ids
        request_id: request_id
        email: email
      properties:
        id:
          description: Id of the entity
          title: id
          type: string
        email:
          description: Email of the entity
          title: email
          type: string
        aggregators:
          description: These will force the user to connect through all of these aggregators
          items:
            $ref: '#/components/schemas/Aggregator'
          minItems: 1
          title: aggregators
          type: array
        institution_ids:
          items:
            description: This will make the 'aggregators' field only apply to this
              list of institution ids.
            type: string
          title: institution_ids
          type: array
        financial_connections:
          description: Data needed to query data from the various aggregators
          items:
            $ref: '#/components/schemas/FinancialConnectionDetails'
          title: financial_connections
          type: array
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - financial_connections
      - id
      - request_id
      title: GetEntityResponse
      type: object
    UpdateEntityRequest:
      properties:
        email:
          description: Email of the entity
          type: string
        aggregators:
          description: These will force the user to connect through all of these aggregators
          items:
            $ref: '#/components/schemas/Aggregator'
          minItems: 1
          type: array
        institution_ids:
          items:
            description: This will make the 'aggregators' field only apply to this
              list of institution ids.
            type: string
          type: array
      type: object
    UpdateEntityResponse:
      properties:
        id:
          description: Id of the entity
          type: string
        email:
          description: Email of the entity
          type: string
        aggregators:
          description: These will force the user to connect through all of these aggregators
          items:
            $ref: '#/components/schemas/Aggregator'
          minItems: 1
          type: array
        institution_ids:
          items:
            description: This will make the 'aggregators' field only apply to this
              list of institution ids.
            type: string
          type: array
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          type: string
      type: object
    CreateEntityRequest:
      properties:
        id:
          description: Id of the entity
          type: string
        email:
          description: Email of the entity
          type: string
        aggregators:
          description: These will force the user to connect through all of these aggregators
          items:
            $ref: '#/components/schemas/Aggregator'
          minItems: 1
          type: array
        institution_ids:
          items:
            description: This will make the 'aggregators' field only apply to this
              list of institution ids.
            type: string
          type: array
      type: object
    CreateEntityResponse:
      properties:
        id:
          description: Id of the entity
          type: string
        email:
          description: Email of the entity
          type: string
        aggregators:
          description: These will force the user to connect through all of these aggregators
          items:
            $ref: '#/components/schemas/Aggregator'
          minItems: 1
          type: array
        institution_ids:
          items:
            description: This will make the 'aggregators' field only apply to this
              list of institution ids.
            type: string
          type: array
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          type: string
      type: object
    ExchangeFinancialConnectionsPublicTokenRequest:
      example:
        public_token: public_token
      properties:
        public_token:
          description: The public token created after a user connects with their financial
            institution
          title: public_token
          type: string
      title: ExchangeFinancialConnectionsPublicTokenRequest
      type: object
    ExchangeFinancialConnectionsPublicTokenResponse:
      example:
        access_token: access_token
        financial_connection_id: financial_connection_id
        request_id: request_id
      properties:
        access_token:
          description: Token used for querying data on the user
          title: access_token
          type: string
        financial_connection_id:
          description: The id of the new financial connection. Every webhook will
            be sent with this id.
          title: financial_connection_id
          type: string
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - access_token
      - financial_connection_id
      - request_id
      title: ExchangeFinancialConnectionsPublicTokenResponse
      type: object
    SyncFinancialConnectionsDataRequest:
      description: Unified webhook data
      type: object
    SyncFinancialConnectionsDataResponse:
      example:
        message: message
        request_id: request_id
      properties:
        message:
          description: Response message
          title: message
          type: string
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      title: SyncFinancialConnectionsDataResponse
      type: object
    GetFinancialInstitutionResponse:
      example:
        financial_institution:
          website: website
          name: name
          logo:
            image: image
            format: png
            type: base64
          country_codes:
          - null
          - null
          id: id
        request_id: request_id
      properties:
        financial_institution:
          $ref: '#/components/schemas/FinancialInstitution'
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - financial_institution
      - request_id
      title: GetFinancialInstitutionResponse
      type: object
    MigrateFinancialConnectionsTokenRequest:
      example:
        aggregator: plaid
        connection_data:
          mx:
            member_guid: member_guid
            user_guid: user_guid
          plaid:
            access_token: access_token
        entity:
          id: id
        fuse_products:
        - null
        - null
      properties:
        connection_data:
          $ref: '#/components/schemas/MigrateFinancialConnectionsAggregatorConnectionData'
        aggregator:
          description: The aggregator being migrated (either 'plaid' or 'mx').
          enum:
          - plaid
          - mx
          title: aggregator
          type: string
        entity:
          $ref: '#/components/schemas/MigrateFinancialConnectionsTokenRequest_entity'
        fuse_products:
          description: A list of Fuse products that the migrated connection will have
            access to.
          items:
            $ref: '#/components/schemas/Product'
          title: fuse_products
          type: array
      required:
      - aggregator
      - connection_data
      - entity
      - fuse_products
      title: MigrateFinancialConnectionsTokenRequest
      type: object
    MigrateFinancialConnectionsAggregatorConnectionData:
      description: The input data for the financial connections to be migrated into
        the unified Fuse API.
      example:
        mx:
          member_guid: member_guid
          user_guid: user_guid
        plaid:
          access_token: access_token
      properties:
        plaid:
          $ref: '#/components/schemas/MigrateFinancialConnectionsAggregatorConnectionData_plaid'
        mx:
          $ref: '#/components/schemas/MigrateFinancialConnectionsAggregatorConnectionData_mx'
      title: MigrateFinancialConnectionsAggregatorConnectionData
      type: object
    MigrateFinancialConnectionsTokenResponse:
      example:
        fuse_financial_connection_id: fuse_financial_connection_id
        fuse_access_token: fuse_access_token
        connection_data:
          mx:
            member_guid: member_guid
            user_guid: user_guid
          plaid:
            access_token: access_token
        request_id: request_id
      properties:
        connection_data:
          $ref: '#/components/schemas/MigrateFinancialConnectionsAggregatorConnectionData'
        fuse_access_token:
          description: Fuse access token for the fuse connection
          title: fuse_access_token
          type: string
        fuse_financial_connection_id:
          description: Financial connection id for the fuse connection
          title: fuse_financial_connection_id
          type: string
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - connection_data
      - fuse_access_token
      - fuse_financial_connection_id
      title: MigrateFinancialConnectionsTokenResponse
      type: object
    DeleteFinancialConnectionResponse:
      example:
        access_token: access_token
        financial_connection_id: financial_connection_id
        request_id: request_id
      properties:
        financial_connection_id:
          description: Id of the deleted financial connection
          title: financial_connection_id
          type: string
        access_token:
          description: Access token of the deleted financial connection
          title: access_token
          type: string
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - access_token
      - financial_connection_id
      - request_id
      title: DeleteFinancialConnectionResponse
      type: object
    GetFinancialConnectionResponse:
      example:
        financial_connection:
          connection_status: connected
          aggregator: null
          teller:
            access_token: access_token
            enrollment_id: enrollment_id
          id: id
          mx:
            member_guid: member_guid
            user_guid: user_guid
          connection_status_updated_at: connection_status_updated_at
          is_oauth: true
          plaid:
            access_token: access_token
            item_id: item_id
        request_id: request_id
      properties:
        financial_connection:
          $ref: '#/components/schemas/FinancialConnectionDetails'
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - financial_connection
      - request_id
      title: GetFinancialConnectionResponse
      type: object
    GetInvestmentHoldingsRequest:
      example:
        access_token: access_token
        options:
          remote_account_ids:
          - remote_account_ids
          - remote_account_ids
      properties:
        access_token:
          description: The access token of the financial institution connection
          title: access_token
          type: string
        options:
          $ref: '#/components/schemas/GetInvestmentHoldingsRequest_options'
      required:
      - access_token
      title: GetInvestmentHoldingsRequest
      type: object
    GetInvestmentTransactionsRequest:
      example:
        access_token: access_token
        end_date: end_date
        records_per_page: 64
        options:
          remote_account_ids:
          - remote_account_ids
          - remote_account_ids
        page: 1
        start_date: start_date
      properties:
        access_token:
          description: Access token for authentication
          title: access_token
          type: string
        start_date:
          description: The earliest date for which data should be returned. Dates
            should be formatted as YYYY-MM-DD.
          title: start_date
          type: string
        end_date:
          description: The latest date for which data should be returned. Dates should
            be formatted as YYYY-MM-DD.
          title: end_date
          type: string
        page:
          description: Specify current page.
          minimum: 1
          title: page
          type: integer
        records_per_page:
          default: 25
          description: Number of items per page.
          maximum: 100
          minimum: 10
          title: records_per_page
          type: integer
        options:
          $ref: '#/components/schemas/GetInvestmentTransactionsRequest_options'
      required:
      - access_token
      title: GetInvestmentTransactionsRequest
      type: object
    FinancialConnectionsHolding:
      example:
        cost_basis: 0.8008281904610115
        institution_price: 5.962133916683182
        security:
          symbol: symbol
          cusip: cusip
          close_price: 5.637376656633329
          remote_id: remote_id
          name: name
          currency:
            code: code
            name: name
          exchange:
            mic_code: mic_code
          sedol: sedol
          type: type
          isin: isin
        quantity: 1.4658129805029452
        value: 6.027456183070403
        remote_account_id: remote_account_id
      properties:
        remote_account_id:
          description: The remote account ID associated with this holding.
          title: remote_account_id
          type: string
        cost_basis:
          description: The original total value of the holding when it was purchased.
          title: cost_basis
          type: number
        value:
          description: The current market value of the holding.
          title: value
          type: number
        quantity:
          description: The number of units of the security held in this holding.
          title: quantity
          type: number
        institution_price:
          description: The price of the security as provided by the financial institution
            managing the holding.
          title: institution_price
          type: number
        security:
          $ref: '#/components/schemas/FinancialConnectionsInvestmentSecurity'
      required:
      - cost_basis
      - institution_price
      - quantity
      - remote_account_id
      - security
      - value
      title: FinancialConnectionsHolding
      type: object
    FinancialConnectionsInvestmentTransaction:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        amount: 0.8008281904610115
        fees: 6.027456183070403
        security:
          symbol: symbol
          cusip: cusip
          close_price: 5.637376656633329
          remote_id: remote_id
          name: name
          currency:
            code: code
            name: name
          exchange:
            mic_code: mic_code
          sedol: sedol
          type: type
          isin: isin
        quantity: 1.4658129805029452
        price: 5.962133916683182
        remote_id: remote_id
        account_name: account_name
        description: description
        type: type
        remote_account_id: remote_account_id
      properties:
        remote_id:
          description: The remote ID of the Investment transaction
          title: remote_id
          type: string
        remote_account_id:
          description: "Remote Account Id of the transaction, ie Plaid Account Id"
          title: remote_account_id
          type: string
        account_name:
          description: The name of the account associated with the investment transaction
          title: account_name
          type: string
        amount:
          description: The amount of the investment transaction
          title: amount
          type: number
        description:
          description: A description of the investment transaction
          title: description
          type: string
        fees:
          description: The fees associated with the investment transaction
          title: fees
          type: number
        date:
          description: The date and time of the investment transaction
          format: date-time
          title: date
          type: string
        type:
          description: "The type of the investment transaction (e.g., 'buy', 'sell',\
            \ 'dividend')"
          title: type
          type: string
        quantity:
          description: The number of units of the security involved in this transaction
          title: quantity
          type: number
        price:
          description: The price of the security involved in this transaction
          title: price
          type: number
        security:
          $ref: '#/components/schemas/FinancialConnectionsInvestmentSecurity'
      required:
      - amount
      - currency
      - date
      - description
      - fees
      - price
      - quantity
      - remote_account_id
      - remote_id
      - security
      - type
      title: FinancialConnectionsInvestmentTransaction
      type: object
    FinancialConnectionsInvestmentSecurity:
      example:
        symbol: symbol
        cusip: cusip
        close_price: 5.637376656633329
        remote_id: remote_id
        name: name
        currency:
          code: code
          name: name
        exchange:
          mic_code: mic_code
        sedol: sedol
        type: type
        isin: isin
      properties:
        remote_id:
          description: "Remote Id of the security, ie Plaid or Snaptrade security\
            \ id"
          title: remote_id
          type: string
        symbol:
          description: "The trading symbol for publicly traded securities, or a short\
            \ identifier if available."
          title: symbol
          type: string
        isin:
          description: The International Securities Identification Number (ISIN) uniquely
            identifies the security.
          title: isin
          type: string
        sedol:
          description: "The Stock Exchange Daily Official List (SEDOL) code uniquely\
            \ identifies the security, primarily used in the United Kingdom and Ireland."
          title: sedol
          type: string
        cusip:
          description: "The Committee on Uniform Securities Identification Procedures\
            \ (CUSIP) number uniquely identifies the security, primarily used in the\
            \ United States and Canada."
          title: cusip
          type: string
        close_price:
          description: The closing price of the security at the end of the most recent
            trading day.
          title: close_price
          type: number
        currency:
          $ref: '#/components/schemas/Currency'
        name:
          description: "A descriptive name for the security, suitable for display."
          title: name
          type: string
        type:
          description: "The type of security (e.g., equity, mutual fund)"
          title: type
          type: string
        exchange:
          $ref: '#/components/schemas/FinancialConnectionsInvestmentSecurity_exchange'
      required:
      - close_price
      - currency
      - remote_id
      - symbol
      title: FinancialConnectionsInvestmentSecurity
      type: object
    GetInvestmentHoldingsResponse:
      example:
        accounts:
        - institution:
            name: name
          balance:
            current: 6.027456183070403
            available: 0.8008281904610115
            iso_currency_code: iso_currency_code
            last_updated_date: last_updated_date
          subtype: null
          remote_id: remote_id
          fingerprint: fingerprint
          name: name
          type: null
          mask: mask
        - institution:
            name: name
          balance:
            current: 6.027456183070403
            available: 0.8008281904610115
            iso_currency_code: iso_currency_code
            last_updated_date: last_updated_date
          subtype: null
          remote_id: remote_id
          fingerprint: fingerprint
          name: name
          type: null
          mask: mask
        holdings:
        - cost_basis: 0.8008281904610115
          institution_price: 5.962133916683182
          security:
            symbol: symbol
            cusip: cusip
            close_price: 5.637376656633329
            remote_id: remote_id
            name: name
            currency:
              code: code
              name: name
            exchange:
              mic_code: mic_code
            sedol: sedol
            type: type
            isin: isin
          quantity: 1.4658129805029452
          value: 6.027456183070403
          remote_account_id: remote_account_id
        - cost_basis: 0.8008281904610115
          institution_price: 5.962133916683182
          security:
            symbol: symbol
            cusip: cusip
            close_price: 5.637376656633329
            remote_id: remote_id
            name: name
            currency:
              code: code
              name: name
            exchange:
              mic_code: mic_code
            sedol: sedol
            type: type
            isin: isin
          quantity: 1.4658129805029452
          value: 6.027456183070403
          remote_account_id: remote_account_id
        request_id: request_id
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/FinancialConnectionsAccount'
          title: accounts
          type: array
        holdings:
          items:
            $ref: '#/components/schemas/FinancialConnectionsHolding'
          title: holdings
          type: array
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - accounts
      - holdings
      - request_id
      title: GetInvestmentHoldingsResponse
      type: object
    GetInvestmentTransactionsResponse:
      example:
        accounts:
        - institution:
            name: name
          balance:
            current: 6.027456183070403
            available: 0.8008281904610115
            iso_currency_code: iso_currency_code
            last_updated_date: last_updated_date
          subtype: null
          remote_id: remote_id
          fingerprint: fingerprint
          name: name
          type: null
          mask: mask
        - institution:
            name: name
          balance:
            current: 6.027456183070403
            available: 0.8008281904610115
            iso_currency_code: iso_currency_code
            last_updated_date: last_updated_date
          subtype: null
          remote_id: remote_id
          fingerprint: fingerprint
          name: name
          type: null
          mask: mask
        investment_transactions:
        - date: 2000-01-23T04:56:07.000+00:00
          amount: 0.8008281904610115
          fees: 6.027456183070403
          security:
            symbol: symbol
            cusip: cusip
            close_price: 5.637376656633329
            remote_id: remote_id
            name: name
            currency:
              code: code
              name: name
            exchange:
              mic_code: mic_code
            sedol: sedol
            type: type
            isin: isin
          quantity: 1.4658129805029452
          price: 5.962133916683182
          remote_id: remote_id
          account_name: account_name
          description: description
          type: type
          remote_account_id: remote_account_id
        - date: 2000-01-23T04:56:07.000+00:00
          amount: 0.8008281904610115
          fees: 6.027456183070403
          security:
            symbol: symbol
            cusip: cusip
            close_price: 5.637376656633329
            remote_id: remote_id
            name: name
            currency:
              code: code
              name: name
            exchange:
              mic_code: mic_code
            sedol: sedol
            type: type
            isin: isin
          quantity: 1.4658129805029452
          price: 5.962133916683182
          remote_id: remote_id
          account_name: account_name
          description: description
          type: type
          remote_account_id: remote_account_id
        request_id: request_id
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/FinancialConnectionsAccount'
          title: accounts
          type: array
        investment_transactions:
          items:
            $ref: '#/components/schemas/FinancialConnectionsInvestmentTransaction'
          title: investment_transactions
          type: array
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - accounts
      - investment_transactions
      - request_id
      - securities
      title: GetInvestmentTransactionsResponse
      type: object
    GetLiabilitiesRequest:
      example:
        access_token: access_token
      properties:
        access_token:
          description: Access token for authentication
          title: access_token
          type: string
      required:
      - access_token
      title: GetLiabilitiesRequest
      type: object
    FinancialConnectionsAccountLiability:
      allOf:
      - $ref: '#/components/schemas/FinancialConnectionsAccount'
      - $ref: '#/components/schemas/FinancialConnectionsAccountLiability_allOf'
      title: FinancialConnectionsAccountLiability
    GetLiabilitiesResponse:
      example:
        liabilities:
        - null
        - null
        request_id: request_id
      properties:
        liabilities:
          items:
            $ref: '#/components/schemas/FinancialConnectionsAccountLiability'
          title: liabilities
          type: array
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      title: GetLiabilitiesResponse
      type: object
    CreateLinkTokenRequest:
      example:
        session_client_secret: session_client_secret
        mx:
          config: "{}"
        plaid:
          config: "{}"
        client_name: client_name
        entity:
          name: name
          id: id
          email: email
        institution_id: institution_id
      properties:
        institution_id:
          description: An id that is unique for an institution.
          title: institution_id
          type: string
        entity:
          $ref: '#/components/schemas/Entity'
        client_name:
          description: The name of your application.
          title: client_name
          type: string
        session_client_secret:
          description: The session client secret created from the 'Create session
            client secret' endpoint
          title: session_client_secret
          type: string
        mx:
          $ref: '#/components/schemas/CreateLinkTokenRequest_mx'
        plaid:
          $ref: '#/components/schemas/CreateLinkTokenRequest_plaid'
      required:
      - client_name
      - entity
      - institution_id
      - session_client_secret
      title: CreateLinkTokenRequest
      type: object
    CreateLinkTokenResponse:
      example:
        link_token: link_token
        request_id: request_id
      properties:
        link_token:
          description: Token needed by the frontend sdk to initiate the connection
          title: link_token
          type: string
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - link_token
      - request_id
      title: CreateLinkTokenResponse
      type: object
    CreateSessionRequest:
      example:
        access_token: access_token
        supported_financial_institution_aggregators:
        - null
        - null
        country_codes:
        - null
        - null
        is_web_view: true
        entity:
          name: name
          id: id
          email: email
        products:
        - null
        - null
      properties:
        supported_financial_institution_aggregators:
          items:
            $ref: '#/components/schemas/Aggregator'
          minItems: 1
          title: supported_financial_institution_aggregators
          type: array
        products:
          description: List of products that you would like the institutions to support
          items:
            $ref: '#/components/schemas/Product'
          minItems: 1
          title: products
          type: array
        country_codes:
          description: List of country codes that you would like the institutions
            to support
          items:
            $ref: '#/components/schemas/CountryCode'
          title: country_codes
          type: array
        entity:
          $ref: '#/components/schemas/Entity'
        access_token:
          description: The fuse access token for an existing account integration.
            This will perform the process to reconnect an existing disconnected account.
          title: access_token
          type: string
        is_web_view:
          description: True if the fuse sdk is using a web view. Defaults to true.
          title: is_web_view
          type: boolean
      title: CreateSessionRequest
      type: object
    CreateSessionResponse:
      example:
        expiration: expiration
        client_secret: client_secret
        request_id: request_id
      properties:
        expiration:
          description: 4 hours from the point of creation
          title: expiration
          type: string
        client_secret:
          description: Token needed by the frontend sdk to start the process
          title: client_secret
          type: string
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - client_secret
      - expiration
      - request_id
      title: CreateSessionResponse
      type: object
    GetFinancialConnectionsTransactionsRequest:
      example:
        access_token: access_token
        end_date: end_date
        records_per_page: 64
        page: 1
        start_date: start_date
      properties:
        access_token:
          description: Access token for authentication.
          title: access_token
          type: string
        start_date:
          description: The earliest date for which data should be returned. Dates
            should be formatted as YYYY-MM-DD.
          title: start_date
          type: string
        end_date:
          description: The latest date for which data should be returned. Dates should
            be formatted as YYYY-MM-DD.
          title: end_date
          type: string
        page:
          description: Specify current page.
          minimum: 1
          title: page
          type: integer
        records_per_page:
          default: 25
          description: Number of items per page.
          maximum: 100
          minimum: 10
          title: records_per_page
          type: integer
      required:
      - access_token
      - end_date
      - page
      - records_per_page
      - start_date
      title: GetFinancialConnectionsTransactionsRequest
      type: object
    GetFinancialConnectionsTransactionsResponse:
      example:
        total_transactions: 6.027456183070403
        transactions:
        - date: date
          amount: 0.8008281904610115
          remote_id: remote_id
          iso_currency_code: iso_currency_code
          description: description
          merchant:
            name: name
          category:
          - category
          - category
          type: type
          remote_account_id: remote_account_id
          status: pending
          remote_data: ""
        - date: date
          amount: 0.8008281904610115
          remote_id: remote_id
          iso_currency_code: iso_currency_code
          description: description
          merchant:
            name: name
          category:
          - category
          - category
          type: type
          remote_account_id: remote_account_id
          status: pending
          remote_data: ""
        request_id: request_id
      properties:
        transactions:
          items:
            $ref: '#/components/schemas/Transaction'
          title: transactions
          type: array
        total_transactions:
          description: "The total number of transactions available within the date\
            \ range specified. If total_transactions is larger than the size of the\
            \ transactions array, more transactions are available and can be fetched"
          title: total_transactions
          type: number
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          title: request_id
          type: string
      required:
      - request_id
      - total_transactions
      - transactions
      title: GetFinancialConnectionsTransactionsResponse
      type: object
    SyncTransactionsRequest:
      properties:
        access_token:
          description: The access token of the financial institution connection
          type: string
        cursor:
          description: "The cursor value represents the last update requested. Providing\
            \ it will cause the response to only return changes after this update.\
            \ If omitted, the entire history of updates will be returned, starting\
            \ with the first-added transactions on the item."
          type: string
        count:
          description: The number of transaction updates to fetch.
          type: integer
      required:
      - access_token
      type: object
    SyncTransactionsResponse:
      properties:
        added:
          description: Transactions that have been added to the item since `cursor`
            ordered by ascending last modified time.
          items:
            $ref: '#/components/schemas/Transaction'
          type: array
        modified:
          description: Transactions that have been modified on the item since `cursor`
            ordered by ascending last modified time.
          items:
            $ref: '#/components/schemas/Transaction'
          type: array
        removed:
          description: Transactions that have been removed from the item since `cursor`
            ordered by ascending last modified time.
          items:
            $ref: '#/components/schemas/SyncTransactionsResponse_removed_inner'
          type: array
        next_cursor:
          description: Cursor used for fetching any future updates after the latest
            update provided in this response. The cursor obtained after all pages
            have been pulled (indicated by `has_next` being `false`) will be valid
            for at least 1 year. This cursor should be persisted for later calls.
          type: string
        has_next:
          description: "Represents if more than requested count of transaction updates\
            \ exist. If true, the additional updates can be fetched by making an additional\
            \ request with `cursor` set to `next_cursor`. If `has_next` is true, it's\
            \ important to pull all available pages, to make it less likely for underlying\
            \ data changes to conflict with pagination."
          type: boolean
        request_id:
          description: An identifier that is exclusive to the request and can serve
            as a means for investigating and resolving issues.
          type: string
      type: object
    FinancialConnectionsAccount_institution:
      example:
        name: name
      properties:
        name:
          title: name
          type: string
      title: FinancialConnectionsAccount_institution
      type: object
    FinancialConnectionsOwner_addresses_inner_data:
      example:
        country: country
        city: city
        street: street
        postal_code: postal_code
        region: region
      properties:
        city:
          description: City of the address
          title: city
          type: string
        country:
          description: Country of the address
          title: country
          type: string
        postal_code:
          description: Postal code of the address
          title: postal_code
          type: string
        region:
          description: Region of the address
          title: region
          type: string
        street:
          description: Street of the address
          title: street
          type: string
      title: FinancialConnectionsOwner_addresses_inner_data
      type: object
    FinancialConnectionsOwner_addresses_inner:
      example:
        data:
          country: country
          city: city
          street: street
          postal_code: postal_code
          region: region
        primary: true
      properties:
        data:
          $ref: '#/components/schemas/FinancialConnectionsOwner_addresses_inner_data'
        primary:
          description: Indicating if it is the primary address
          title: primary
          type: boolean
      title: FinancialConnectionsOwner_addresses_inner
      type: object
    FinancialConnectionsOwner_emails_inner:
      example:
        data: data
        type: primary
        primary: true
      properties:
        data:
          description: Email address
          title: data
          type: string
        primary:
          description: Indicating if it is the primary email
          title: primary
          type: boolean
        type:
          description: Type of the email
          enum:
          - primary
          - secondary
          - other
          title: type
          type: string
      required:
      - data
      title: FinancialConnectionsOwner_emails_inner
      type: object
    FinancialConnectionsOwner_names_inner:
      example:
        data: data
        type: type
      properties:
        data:
          description: Name of the owner
          title: data
          type: string
        type:
          description: Type of name. Possible values are "name" or "alias"
          title: type
          type: string
      required:
      - data
      title: FinancialConnectionsOwner_names_inner
      type: object
    FinancialConnectionsOwner_phone_numbers_inner:
      example:
        data: data
        type: home
        primary: true
      properties:
        data:
          description: The phone number
          title: data
          type: string
        primary:
          description: Indicating if it is the primary phone number
          title: primary
          type: boolean
        type:
          description: Type of the phone number
          enum:
          - home
          - work
          - mobile
          title: type
          type: string
      required:
      - data
      title: FinancialConnectionsOwner_phone_numbers_inner
      type: object
    FuseApiError_data:
      properties:
        aggregator:
          $ref: '#/components/schemas/Aggregator'
        errors:
          items:
            $ref: '#/components/schemas/FuseApiError'
          title: errors
          type: array
      title: FuseApiError_data
      type: object
    FuseApiWarning_data_warnings_inner:
      example:
        code: code
        details: details
        source: internal
        title: title
        type: type
      properties:
        title:
          title: title
          type: string
        details:
          title: details
          type: string
        code:
          title: code
          type: string
        type:
          title: type
          type: string
        source:
          enum:
          - internal
          - aggregator
          title: source
          type: string
      title: FuseApiWarning_data_warnings_inner
      type: object
    FuseApiWarning_data:
      example:
        aggregator: null
        warnings:
        - code: code
          details: details
          source: internal
          title: title
          type: type
        - code: code
          details: details
          source: internal
          title: title
          type: type
      properties:
        aggregator:
          $ref: '#/components/schemas/Aggregator'
        warnings:
          items:
            $ref: '#/components/schemas/FuseApiWarning_data_warnings_inner'
          title: warnings
          type: array
      title: FuseApiWarning_data
      type: object
    FinancialConnectionDetails_plaid:
      description: Data needed to query data from Plaid
      example:
        access_token: access_token
        item_id: item_id
      properties:
        access_token:
          description: Access token for Plaid
          title: access_token
          type: string
        item_id:
          description: ID of the item associated with the access token in Plaid
          title: item_id
          type: string
      required:
      - access_token
      - item_id
      title: FinancialConnectionDetails_plaid
      type: object
    FinancialConnectionDetails_teller:
      description: Data needed to query data from Teller
      example:
        access_token: access_token
        enrollment_id: enrollment_id
      properties:
        access_token:
          description: Access token for Teller
          title: access_token
          type: string
        enrollment_id:
          description: Enrollment ID associated with the access token in Teller
          title: enrollment_id
          type: string
      required:
      - access_token
      - enrollment_id
      title: FinancialConnectionDetails_teller
      type: object
    FinancialConnectionDetails_mx:
      description: Data needed to query data from MX
      example:
        member_guid: member_guid
        user_guid: user_guid
      properties:
        user_guid:
          description: User GUID for MX
          title: user_guid
          type: string
        member_guid:
          description: Member GUID for MX
          title: member_guid
          type: string
      required:
      - member_guid
      - user_guid
      title: FinancialConnectionDetails_mx
      type: object
    FinancialInstitution_logo:
      example:
        image: image
        format: png
        type: base64
      properties:
        image:
          description: Base64-encoded image data or URL for the image.
          title: image
          type: string
        type:
          description: Type of the image.
          enum:
          - base64
          - url
          title: type
          type: string
        format:
          description: "Optional format of the image, if known."
          enum:
          - png
          - jpeg
          - gif
          - svg+xml
          title: format
          type: string
      required:
      - image
      - type
      title: FinancialInstitution_logo
      type: object
    Transaction_merchant:
      example:
        name: name
      properties:
        name:
          description: Merchant name
          title: name
          type: string
      title: Transaction_merchant
      type: object
    FinancialConnectionsAccountDetails_ach:
      example:
        wire_routing: wire_routing
        routing: routing
        bacs_routing: bacs_routing
        account: account
      properties:
        account:
          description: Account number
          title: account
          type: string
        routing:
          description: Routing number
          title: routing
          type: string
        wire_routing:
          description: Wire routing number
          title: wire_routing
          type: string
        bacs_routing:
          description: BACS routing number
          title: bacs_routing
          type: string
      title: FinancialConnectionsAccountDetails_ach
      type: object
    GetFinancialConnectionsOwnersResponse_accounts_inner:
      example:
        owners:
        - emails:
          - data: data
            type: primary
            primary: true
          - data: data
            type: primary
            primary: true
          phone_numbers:
          - data: data
            type: home
            primary: true
          - data: data
            type: home
            primary: true
          addresses:
          - data:
[...]
